
/*canvas width and height is set in the script file */ 
#my_canvas{
  border: 1px solid black ;
  /*Credit image: https://www.istockphoto.com/photo/room-gm506671164-84299425?phrase=haunted%20house%20background*/
  background-image: url("assets/images/creepyroom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow:hidden; 
   
}


body{
  margin: 0;
}

/*Adding door to game page. */
.back_of_door
{
  
background-color: #333;
position: absolute;
width:100px;
height:200px;
top:0px;
left:0px;
margin: 0;
margin-top: 50px;
margin-left: 100px;
z-index: 1;



}

.door_close
{
background-image: url("assets/images/Ranch_Slab_Exterior.jpg");
background-size:200px 300px;
background-origin: padding-box;
background-color: brown;
box-shadow: 10px 10px black;
position: absolute;
top:0px;
left:0px;
width:100px;
height:200px;
margin: 0;
margin-top:50px;
margin-left: 100px;
z-index: 2;





transform-origin: left;
/*Speed of the Door animation*/
transition: all 0.75s ease-in-out;
}

.door_open
{
/*prespective creates the door open effect*/
transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

section#game .title{
  
  display: block;
  position: absolute;
  top: 10px;
  left: 630px;
  font-size: 50px;
  color: rgb(159, 28, 32);
  font-weight: bold;
  font-family: 'Creepster', cursive;
  text-shadow: 2px 2px 5px rgb(24, 1, 1);
  
  z-index: 3;
}

section#game .health{
  display: block;
  position: absolute;
  top: 80px;
  left: 810px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Creepster', cursive;
  color: rgb(8, 243, 8);
  z-index: 3;
}

section#game #value{
  display: block;
  position: absolute;
  top: 80px;
  right: 900px;
  font-size: 30px;
  color: rgb(8, 243, 8);
  z-index: 3;
}
section#game .score{
  display: block;
  position: absolute;
  top: 150px;
  left: 810px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Creepster', cursive;
  color: rgb(8, 243, 8);
  z-index: 3;
}
section#game #scorevalue{
  display: block;
  position: absolute;
  top: 150px;
  right: 900px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(8, 243, 8);
  z-index: 3;
}

